.filter-cart
  display: flex
  align-items: center
  justify-content: space-between
  width: 100%
  position: relative
  margin-bottom: 5em

app-cart
  width: 60%


.items
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(390px, 1fr))
  column-gap: 2em
  justify-items: center
