<div *ngFor="let item of $wineshopData | async" class="item">
  <div class="image">
    <img
      [src]="
        'https://storage.googleapis.com/wineshop-assets/wine-bottles/' +
        item.image
      "
      alt="breidecker wine bottle"
    />
  </div>
  <div class="details">
    <div class="bottle-name">
      {{ item.no }} <span> {{ item.name }} </span>
    </div>
    <div class="prices">
      <div class="bottle-price">
        <div>
          <p>Bottle</p>
          <span>$ {{ item.cost.bottle }}</span>
        </div>
        <div><input type="number" /> QTY</div>
        <button class="btn-light">Details</button>
      </div>

      <div class="case-price">
        <div>
          <p>Case</p>
          <span>$ {{ item.cost.bottle }}</span>
        </div>
        <div><input type="number" /> QTY</div>
        <button class="btn-dark">Add to Cart</button>
      </div>
    </div>
  </div>
</div>
