.item
  display: flex
  width: 390px
  margin-bottom: 5em
  // box-shadow: none
  transition: all 0.3s ease-in

  &:hover
    // box-shadow: -1px 1px 28px -3px rgba(0,0,0,0.41)
    transform: scale(1.01)
    cursor: pointer

  .image img
    height: 320px

  .details
    display: flex
    flex-direction: column
    /* justify-content: space-between; */

    .prices
      display: flex

      > div
        display: flex
        flex-direction: column
        align-items: center

      .bottle-price
        border-right: 1.6px dotted black
        height: 80px
        font-size: 21px
        padding-right: 5px

        > div
          text-align: left
          width: 100%

      .case-price
        font-size: 21px

        > div
          text-align: left

    button
      margin: 10px 0 0 0


    .bottle-name
      display: flex
      flex-direction: column
      align-items: flex-start
      font-size: 70px
      font-weight: 600
      color: #979797
      flex-grow: 1

      span
        font-size: 30px


input
  height: 35px
  width: 35px
  border: 2px solid black

.disabled
  cursor: not-allowed
