<div *ngFor="let item of items | async" class="item">
  <div class="image">
    <img
      [src]="
        'https://storage.googleapis.com/wineshop-assets/wine-bottles/' +
        item.image
      "
      alt="breidecker wine bottle"
    />
  </div>
  <div class="details">
    <div class="bottle-name">
      {{ item.no }} <span> {{ item.name }} </span>
    </div>
    <div class="prices">
      <div class="bottle-price">
        <div>
          <p>Bottle</p>
          <span>$ {{ item.cost.bottle }}</span>
        </div>
        <div>
          <input min="0" type="number" #bottleQ />
          QTY
        </div>
        <button class="btn-light">Details</button>
      </div>

      <div class="case-price">
        <div>
          <p>Case</p>
          <span>$ {{ item.cost.case }}</span>
        </div>
        <div><input min="0" type="number" #caseQ /> QTY</div>
        <button
          class="btn-dark"
          (click)="addProduct(item, bottleQ.value, caseQ.value)"
        >
          Add to Cart
        </button>
      </div>
    </div>
  </div>
</div>
