<div class="item">
  <div class="image">
    <img
      src="https://storage.googleapis.com/wineshop-assets/wine-bottles/breidecker.jpg"
      alt="breidecker wine bottle"
    />
  </div>
  <div class="details">
    <div class="bottle-name">13 <span> Breidecker </span></div>
    <div class="prices">
      <div class="bottle-price">
        <div>
          <p>Bottle</p>
          <span>$ 17.90</span>
        </div>
        <div><input type="number" /> QTY</div>
        <button class="btn-light">Details</button>
      </div>

      <div class="case-price">
        <div>
          <p>Case</p>
          <span>$ 204.06</span>
        </div>
        <div><input type="number" /> QTY</div>
        <button class="btn-dark">Add to Cart</button>
      </div>
    </div>
  </div>
</div>
