.cart
  border: none
  display: grid
  grid-template-columns: 1fr 1fr 3fr
  height: 200px
  background: #ffffff
  column-gap: 3px
  padding-left: 1rem

  > div
    background: #f7f7f7

  > div:not(:last-child)
    width: 200px

  > div:last-child
    width: 400px


  .delivery-info
    color: #4d4d4d
    font-size: larger

  .cart-quantity
    flex-direction: column
    font-size: 35px
    font-weight: 600
    color: #4a4a4a

  .cart-specifics
    // flex-direction: column
    justify-content: space-evenly

    .items .exact-items span
        font-size: 1.2em
        color: #4d4d4d

    .items .cash-amount span
      font-size: 2.8em
      color: #4d4d4d

    .items > div
      height: 50%
      justify-content: space-evenly

    .buttons
      flex-direction: column


// @media ( max-width: 1140px )
//   .cart
//     grid-template-columns: 1fr 3fr

.fixed
  position: fixed
  bottom: 0
  width: 100vw
  left: 0


.cart-minimal
  border: none
  background: #f7f7f7
  justify-content: space-between
  height: 144px
  // width: 100vw

  .details
    flex-direction: column
    align-items: flex-start

    .bottles span
      font-size: 30px
      color: #4a4a4a

    .bottles em
      text-decoration: underline
      font-size: 15px
      margin-left: 1rem

      &:hover
        cursor: pointer

    .cash-amount
      font-size: 30px
      color: #4a4a4a

  .buttons
    flex-direction: column


@media ( max-width: 1350px )

  .cart > div:not(:last-child)
    width: 150px

  .cart > div:last-child
    width: 300px

  .cash-amount span
    font-size: 1.8em !important
    color: #4d4d4d !important

  .exact-items span
    font-size: 1.0em !important
    color: #4d4d4d !important

  .cart-quantity
    font-size: 25px !important

@media ( max-width: 1280px )

  .cart > div:not(:last-child)
    width: 130px

  .cart > div:last-child
    width: 260px
